:root{
  --primary : rgb(172,6,54);
  --fondo: rgb(245, 245, 245);
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* border: 1px solid red; */
}
body{
  background-color: var(--fondo);
}
.height-100vh{
  height: 100vh;
}

.background-primary{
  background-color: var(--primary);
}

.btn-new{
  top: 90px;
}
.margin-nav{
  margin-top:150px !important;
}

@media (max-width: 660px) {
  .form-newPedido{
    width: 100% !important;
  }
}